
/* Style for the outer container to center its content */
.Cities {
    display: flex;           /* Use flexbox for layout */
    flex-direction: column;  /* Arrange elements in a column */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
margin: 10% auto;        /* Full viewport height for centering */
    text-align: center;      /* Center text within the div */
  }
  
  .Cities > h1 {
    margin-bottom: 20px;
    font-size: 60px;    /* Space between heading and button */
  }


  
.Lahore{
    margin: 10px;  
    padding: 10px 50px;
    background: #00BFA6;
    color: #FFF;
    font-size: 2vw; /* Responsive font size */
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: 1s;
    
  text-align: center;

}
