*{
margin: 0%;
padding: 0%;

}

.herocontainer{
 width: 100%;

flex-shrink: 0;
display: flex;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;

}
.herocontainer h1{
    color: #00BFA6;

    text-align: center;
    font-family: Poppins;
    font-size: 68px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 9% 8% 3% 8%;


}
.herocontainerButton{
width: 20%;
padding: 2%;
border-radius: 30px;
background: #00BFA6;
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
border: none;
outline: none;
transition: 0.6s;
animation: moveShovel 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
transform-origin: center; 

}
.herocontainer button:hover{
background: #FFF;
color: #00BFA6;
border: 1px solid #00BFA6;

cursor: pointer;
}



#shovel {
    position: absolute;
    width: 15%;
    height: 30%;
    color: #00BFA6;
    top: 75.3%;
   left: 29.6%;
    opacity: 0.6;
    z-index: 999;
    transform: rotateY(50deg);
    animation: moveShovel 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
    transform-origin: center; 
}
@keyframes moveShovel {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(40px); /* Adjust the distance as needed */
    }
    100% {
        transform: translateX(0);
    }
}

.custom-swiper-slide {
    height: 500px; /* Set the height as needed */
    /* Add any other styles you want */
    margin-top: 15%;
  }
  .max-container {
    max-width: 6xl;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
  }
  
  
  .header {
    margin-bottom: 1.5rem;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #4b5563;
  }
  
  .show-more-link {
    font-size: 0.875rem;
    color: #3b82f6;
    text-decoration: none;
  }
  
  .show-more-link:hover {
    text-decoration: underline;
  }
  
  
  .max-container h2{
    color: #00BFA6;
    font-size: 40px;
  }
  /* Additional styles for ListingItem component */
  
  @media screen and (min-width: 320px) and (max-width: 480px) {

    .herocontainer h1{
      font-size: 70px;
    }
    .herocontainer button{
    font-size: 15px;
    width: 40%;
    }
    #shovel{
      left: 18%;
      top: 79%;
    }
  }