*{
    margin: 0;
    padding: 0;
}

.loading-text {
    text-align: center;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 1.5rem;
  }
  .something-went-wrong {
    text-align: center;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 1.5rem;
    color: red;
  }
  .image-container {
    height: 350px;

  }
  #servicePrice {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #00BFA6;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}
#serviceDescription {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #666;
  
  line-height: 1.6;
  margin-top: 20px;
  max-height: 200px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds the maximum height */
  word-wrap: break-word;
  padding: 0% 1%; /* Allow words to break if they exceed the container width */
}

#descriptionHeading {
  font-family: Arial, sans-serif;
  font-size: 28px; /* Increased font size for emphasis */
  color: #333; /* Dark gray color */
  border-bottom: 2px solid #00BFA6; /* Add a bottom border for visual appeal */

  margin-top: 30px;
  padding: 0% 1%; /* Add space above the heading */
}
#Experience {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #333; /* Dark gray color */
  line-height: 1.6;
  margin-top: 18px;
  max-height: 200px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds the maximum height */
  word-wrap: break-word;
  padding: 0% 1%;

}

/* Style for the word "Experience" */
#Experience strong {
  font-weight: bold; /* Make the word bold */
  font-size: 24px; /* Increase the font size */

}
.custom-button {
  background-color: #00BFA6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block; /* Change to block to center horizontally */
  margin: 1% auto; /* Set left and right margins to auto */
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  width: 80%; /* Set the width to 80% of the parent container */
  overflow-y: auto;
}
.custom-button:hover{
  background-color: #fff;
  color: #00BFA6;
  border: 1px solid #00BFA6;
}
.service-heading {
  font-family: Arial, sans-serif;
    font-size: 24px;
    color: #00BFA6;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1%;
}

.service-name {
  font-size: 20px;
  color: #00BFA6; /* Adjust the color as needed */
  /* Additional styling for the name, such as font-family, text-decoration, etc. */
}
